[submodule "so-i-24-chp2-fnc8822"]
	path = so-i-24-chp2-fnc8822
	url = https://github.com/ICOMP-UNC/so-i-24-chp2-fnc8822/
[submodule "shell"]
	path = shell
	url = https://github.com/ICOMP-UNC/so-i-24-chp2-fnc8822/
